*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  background-color: #1a1a1a;
  position: relative;
}

.navBar{
  background-color: black;
  height: 100vh;
  width:12%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navBarSup{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 25px;
  flex-direction: column;
}

.navBarSup:last-child{
  margin-top: 20px;
}

.navBarInf{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 25px;
  flex-direction: column;
}

.Header{
  background-color: #121212;
  height:7vh;
  width: 88%;
  position: absolute;
  top: 0;
  right: 0;  
}
