*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App, body, html{
  background-color: #1a1a1a;
  position: relative;
}

.navBar{
  background-color: black;
  height: 100vh;
  width:12%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
}

.navBarSup{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 25px;
  flex-direction: column;
}

.navBarSup:last-child{
  margin-top: 20px;
}

.navBarInf{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 25px;
  flex-direction: column;
}

.Header{
  background-color: #121212f6;
  height:7vh;
  width: 88%;
  position: absolute;
  top: 0;
  right: 0;  
  position: fixed;
  z-index: 10;
}

.Content{
  background-color: transparent;
  width: 88%;
  right: 0;
  top: 7vh;
  height: auto;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  padding-bottom: 80px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.274);
  gap: 30px;
}

.FooterMain{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 6vh;
  background-color: tomato;
  z-index: 20;
}

body::-webkit-scrollbar{
  width: 15px;
  height: 80vh;
}

body::-webkit-scrollbar-thumb{
  background-color: rgba(245, 245, 220, 0.164);  
  transition: all 0.3s;  
}

::-webkit-scrollbar-thumb:hover{
  background-color: rgba(245, 245, 220, 0.692);  
  transition: all 0.3s;
}
